[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "erhanbas.github.io"]
	path = public
	url = https://github.com/erhanbas/erhanbas.github.io.git
	branch = master
